<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="navigation">
    <nav class="main-nav">
        <ul>
            <th:block sec:authorize="!isAuthenticated()">
                <li>
                    <a href="/">Home</a>
                </li>
                <a href="/users/login">Login</a>
                </li>
                <a href="/users/register">Register</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li>
                    <a href="/reservations/add">Add new reservation</a>
                </li>
                <li>
                    <a href="/">Profile</a>
                </li>
                <li>
                    <a href="/">Admin</a>
                </li>
<!--                <li>-->
<!--                    <a href="/users/logout">Logout</a>-->
<!--                </li>-->

                <li class="main-nav" sec:authorize="isAuthenticated()" >
<!--                    <div class="logged-user">-->
<!--                        Welcome, <th:block sec:authentication="name"></th:block>!-->
<!--                    </div>-->
                        <form th:method="post"
                              th:action="@{/users/logout}">
                            <input type="submit" class="logout-btn" value="Logout"/>
                       </form>
                </li>
                <li class="main-nav" sec:authorize="isAuthenticated()" >
                        Welcome, <th:block sec:authentication="name"></th:block>!
                </li>
            </th:block>
        </ul>
    </nav>
</header>

</body>
</html>