/* CSS Variables */
:root {
    --primary: rgba(234, 171, 14, 0);
    --dark: rgb(225, 219, 220);
    --light: #f5f0f0;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --lightGray: rgba(241, 241, 241, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background-image: url("../images/cover-home.jpg");
    backdrop-filter: blur(4px);
    padding: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: #1b1e21;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.main-btn {
    text-decoration: none;
    color: #e3d8da;
}

.main-btn:hover {
    text-decoration: none;
}


img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: #f5f0f0;
    color: darkred;
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
    grid-area: showcase;
    min-height: 600px;
    background: url("../images/litle-home-cover.jpg");
    /*background: repeat;*/
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    animation-delay: 0.5s;
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: var(--light);
    animation-delay: 1s;
}

.showcase p {
    font-size: 3rem;
    margin-top: 0;
    color: var(--light);
    animation-delay: 1.5s;
}
.showcase a{
    animation-delay: 2s;
}
.anim{
    padding-top: 0;
    opacity: 0;
    transform: translateY(30px);
    animation: moveUp 1s linear forwards;
}
@keyframes moveUp {
    100%{
        opacity: 1;
        transform: translateY(30px);
    }
}

/* Top Box */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Boxes */
.boxes {
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */
/*.road {*/
/*    background: var(--primary);*/
/*    box-shadow: var(--shadow);*/
/*    display: grid;*/
/*    grid-gap: 30px;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    padding: 3rem;*/
/*    grid-row: auto;*/
/*}*/


/* Portfolio */
.gallery {
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */
footer {
    margin-top: 2rem;
    background: transparent;
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
.logout-btn{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    width: 100%;
    height: auto;
}
.logout-btn:hover{
    background: #f5f0f0;
    color: darkred;
}
.comments{
    background-color: transparent !important;
}

/* About */
.info {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #747a80;
    color: white;
    padding: 5rem;
    margin-top: 4rem;
    border-radius: 5rem;
}
.contact-info{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
}
.contact-map{
    display: flex;
    padding: 5rem;
    text-align: center;
}

.info div {
    text-align: center;
}

.info div:nth-child(1) {
    background-image: url("../images/about1.jpg");
    background-size: cover;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
}

.info div:nth-child(3) {
    background-image: url("../images/chef.jpg");
    background-size: cover;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

.details-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.details-main .gallery {
    grid-column: 1/4;
    grid-row: 3;
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.reservation-info, .reservation-description, .comments {
    background-color: var(--lightGray);
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10%;


}

.reservation-info {
    position: relative;
    grid-column: 1;
    grid-row: auto;
    color: #000;!important;
    text-align: left;
}

.reservation-specialRequest {
    grid-column: 2/4;
    grid-row: 2;
}
.reservationEntity-info span{
    font-weight: bold;
    font-family: Helvetica;
}

.comments {
    grid-column: 1/4;
    grid-row: 4;

}

#add-reservation-form {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
}

body {
    background-color: rgba(0, 0, 0, 6);
}

.profile-card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    min-height: 65vh;
}

.profile-card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #51515e;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.profile-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #51515e;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.profile-card:hover::after {
    transform: scaleY(1)
}

.fonts {
    font-size: 20px
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #0833e3;
    font-size: 19px
}

.buttons button:nth-child(1) {
    border: 1px solid #0833e3 !important;
    color: #ffffff;
    height: 40px
}

.buttons button:nth-child(1):hover {
    border: 1px solid #0833e3 !important;
    color: #fff;
    height: 40px;
    background-color: #0833e3
}

.buttons button:nth-child(2) {
    border: 1px solid #0833e3 !important;
    color: #ffffff;
    height: 40px
}

.buttons button:nth-child(2):hover {
    border: 1px solid #0833e3 !important;
    color: #fff;
    height: 40px;
    background-color: #0833e3
}


/*.main-nav{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/
