<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <div th:replace="~{fragments/navigation}"></div>

    <div class="info">
        <div></div>
        <div>
            <h4>За нас</h4>
            The Chef Restaurant e създаден от шеф Каназирев, който е и главен готвач на заведението.
            Концепцията на The Chef Restaurant e създаване на неустоим кулинарен вкус и безупречен стил
            на обслужване с внимание към детайла, гарантирайки незабравимо изживяване на клиентите.

            The Chef Restaurant се намира в центъра на град Разлог.
            Заведението е подходящо за организиране и празнуване на специални събития
            – сватби, кръщенета, рождени дни, детски партита, фирмени партита, частни партита.
        </div>
        <div></div>
    </div>

</div>
<div th:replace="~{fragments/footer}"></div>
<!-- Wrapper Ends -->
</body>

</html>