<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/navigation}">
</header>

    <section class="reservation-info">
        <img src="/images/logo.jpg" alt="Title image">
        <div>
            <h2>Your Reservation</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias reiciendis deleniti possimus nemo
                non repellendus?
                Quae atque vero modi quidem! Autem cupiditate fugit doloribus ad amet, asperiores provident commodi.</p>
            <a href="/" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer}">
</footer>
</html>