
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/navigation}">
    </header>

    <input type = "hidden" name="reservationId" id="reservationId" th:value="${reservation.id}">

    <div class = "your-main" th:object="${reservation}">
        <!--/*@thymesVar id="reservations" type=""*/-->
        <section class="reservationEntity-info text-lg-left">
            <h2 th:text="'Thank you for your reservation!' "> </h2>
            <p>You have reservation of the name:
                <span th:text="*{name}" id="name"></span>
            </p>
            <p>Prefer person:
                <span th:text="*{countPeople} + ' people'" id="countPeople"></span>
            </p>
            <p id="dateTime">Date of your reservation is:
                <span th:text="*{dateTime.getDayOfMonth()}" ></span>
                <span th:text="*{dateTime.getMonth()}"></span>
                <span th:text="*{dateTime.getYear()}"></span>
            </p>
            <p id="dateTime">Prefer time:
                <span th:text="*{dateTime.getHour()} + ':'"></span>
                <span th:text="*{dateTime.getMinute()} + 'h  '"></span>
                <span th:text="*{dateTime.getDayOfWeek()}"></span>
            </p>
            <p>Prefer area:
                <span th:text="*{section}" id="section"></span>
            </p>
            <p>Your special requests are:
                <span th:text="*{specialRequest}" id="specialRequest"></span>
            </p>
        </section>

        <section class="comments">
            <h1>Comments</h1>
            <div>
                <!-- Comments submission -->
                <form id="commentForm" method="POST"
                      th:action="@{/api/{reservationId}/comments(reservationId=${reservation.id})}">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <label for="textContent">TextContent</label>
                        <textarea name="textContent"
                                  id="textContent"
                                  cols="30"
                                  rows="5"
                                  class="form-control"
                                  style="background-color: white;"></textarea>
                        <small id="messageError" class="invalid-feedback">
                            Text comment should be at least 10 characters.
                        </small>
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               class="btn"
                               id="postComment"
                               value="Post Comment"/>
                    </div>
                </form>
                <!-- Comments submission -->
            </div>
            <!-- All comments section -->
            <div>
                <span id="commentCtnr"><!-- Comments section, filled in by script --></span>
            </div>
            <!-- EO: All comments section -->
        </section>
    </div>
    <script th:src="@{/js/comments.js}"></script>
</div>

<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer}">
</footer>
</html>